/* Общие стили */
* {
  font-family: JetBrainsMono, Symbols Nerd Font;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

@import "theme.css";

/* Общая полоска */
window#waybar {
  background-color: transparent;
  border: none;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Общие стили для всех модулей */
#custom-menu,
#workspaces,
#window,
#tray,
#submap,
#clock,
#custom-weather,
#language,
#keyboard,
#pulseaudio,
#network,
#bluetooth,
#memory,
#cpu,
#temperature,
#backlight,
#battery,
#custom-power {
  padding: 2px 8px;
  margin: 2px;
  color: @foreground-primary;
  background: @background-secondary;
  border: none;
  border-radius: 30px;
}

#pulseaudio.muted {
  color: @accent-red;
}

#custom-power:hover {
  color: @accent-red;
}

#temperature.critical {
  color: @accent-red;
}

/* Открывающиеся окно при наведении мыши */
/* Tooltip стили */
/* Используем переменные */
tooltip {
  background: @background-primary;
  margin: 20px;
  padding: 15px;
  border: 2px solid @border-transparent;
  border-radius: 10px;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @foreground-primary;
}

#workspaces button:hover {
  color: @accent-yellow;
  background-color: transparent;
  border: 2px solid @accent-yellow;
  box-shadow: 0 0 5px @accent-yellow;
}

#workspaces button.focused {
  color: @accent-yellow;
  background-color: @background-primary;
  border: 2px solid @accent-yellow;
  /* Добавляем рамку */
  box-shadow: 0 0 5px @accent-yellow;
  /* Добавляем тень */
}

#workspaces button.urgent {
  color: @accent-red;
  background-color: @accent-red;
  font-weight: bold;
  /* Делаем текст жирным */
}

/* Стили для модулей при наведении мыши */
/* Hover эффекты */
#custom-menu:hover,
#custom-menu:hover {
  color: @foreground-light;
}

#clock:hover,
#pulseaudio:hover,
#network:hover,
#memory:hover,
#cpu:hover,
#battery:hover,
#custom-power:hover {
  border: 2px solid white;
  /* Белая рамка */
  box-shadow: 0 0 5px white;
  /* Белая тень */
}
