@define-color bg rgba(41, 36, 66, 0.8);
@define-color fg rgba(216, 222, 233, 0.9);
@define-color fg_2 rgba(229, 233, 240, 0.9);
@define-color text-color #ffffff;
@define-color cosmic-purple rgba(88, 69, 149, 0.7);

/*  Общие стили - параметры для всего  */
* {
  font-family: JetBrainsMono;
  color: @text-color;
  /* background: @cosmic-purple; */
  backdrop-filter: blur(10px);
}

/* Окно ввода */
#window {
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgba(51, 204, 255, 0.5);
  background-color: rgba(41, 36, 66, 0.6);
  /* Фон окна ввода */
}

/* параметры для окна ввода */
#input {
  margin: 10px 15px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: none;
  border-bottom: 0px solid @bg;
  /* Граница снизу */
  background-color: rgba(216, 222, 233, 0.2);
  /* Фон поля ввода */
  color: @text-color;
  /* Текст в поле ввода */
}

/* Окно с приложениями */
#inner-box {
  background-color: transparent;
}

/* Пространство вокруг окна wofi */
#outer-box {
  margin: 5px;
  padding: 0px;
  background-color: transparent;
}

/* Иконки */
#img {
  margin-right: 10px;
  background-color: transparent;
  min-width: 24px;
  min-height: 24px;
}

/* Полоса прокрутки */
#scroll {
  background-color: transparent;
}

/* Элементы списка */
#entry {
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(41, 36, 66, 0.4);
}

/* Выделенный пункт */
#entry:selected {
  border-radius: 5px;
  background-color: rgba(88, 69, 149, 0.6);
  color: @text-color;
}

/* Чётные строки */
#entry:nth-child(even) {
  background-color: rgba(41, 36, 66, 0.5);
}

/* Текст */
#text {
  margin: 2px;
  color: @texcol;
}

/*  Цвет выделенного текста */
#text:selected {
  color: @texcol;
}

/* Невыделенный текст */
#unselected {
  color: rgba(216, 222, 233, 0.7);
  /*  Цвет текста по умолчанию */
}